.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-left: 500px;
  }
  
  .example-full-width {
    width: 100%;
  }

  .but{
    margin-left: 20px;
  }

  .button{
    margin-left: 20px;
  }