<div class="row">
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Quote</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
        <div class="col">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Author</mat-label>
                <input matInput placeholder="Adichie" value="">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Publisher</mat-label>
                <input matInput placeholder="Paul" value="">
            </mat-form-field>
        </div>
    </form>
</div>